* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

.jumbotron-fluid {
    background-image: url("../img/pizza.png");
}

.opacity-70 {
    opacity: 70%;
}

.img-fluid shadow {
    margin: 0;
    padding: 0;
}

.display-4 {
    align-content: center;
}

.card-body {
    background-color: blue;
    color: white;
}
